@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.navigation
{
    position: fixed;
    background-color: #000040;
    width: 100%;
    height: 13vh;
    top: 0;
    left: 0;
    font-family: "Manrope",sans-serif;
    z-index: 100;
}
.navigation ul
{    
    list-style-type: none;
}
.navigation ul li
{
    box-sizing: border-box;
    position: relative;
    top: 2.5vh;
    left: 8vw;
    text-align: center;
    float: left;
    margin: 5px;
    width: 6vw;
    height: 6vh;
    padding-top: 7px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}
.navigation ul #news
{
    background-color: #5af7dc;
}
.navigation ul #news a
{
    color: #000040 ;
}
.navigation ul li a
{

    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navigation ul li a:hover
{
    color: #5af7dc;
}

.navigation span 
{
    position: absolute;
    font-size: 25px;
    top: 25px;
    right: 5vw;
    color: #ffffff;
}
#sign_out
{
  display: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
.head
{
    position: absolute;
    top: 13vh;
    width: 100%;
    height: 100px;
    background-color: #000040;
}
.container {
  position: relative;
  top: 26vh;
  background-color: #030a60;
  background-image: url("../Img/Background.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  z-index: 99;
}
.title-news
{
  position: relative;
  top: 10px;
  font-size: 40px;
  font-weight: bold;
}
.title-news span
{
  color: #ffffff;
}
.content
{
    margin-top: 50px;
}


.footer
{
    margin-top: 100px;
    position:relative;
    width: 100%;
    height: 50vh;
    background-color: #000040;
    z-index: 100;
}
.footer .text_list
{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 160px;
    height: 200px;
}
.footer .text_list .title_list
{
    position: absolute;
    top: 0;
    left: 40px;
    font-family: "Manrope",sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    width: 80px;
    padding-bottom: 5px;
    border-bottom: 2px solid #5af7dc;
}
.footer .text_list ul
{
    position: absolute;
    top: 40px;
    left: 40px;
    list-style-type: none;
}

.footer .text_list ul li
{
    height: 30px;
    font-family: "Manrope",sans-serif;
    color: #ffffff;
}
.footer .text_list ul li a
{
    text-decoration: none;
    color: #ffffff;
}
.footer .text_list ul li a:hover
{
    color: #5af7dc;
}

.footer .fallowus
{
    position: absolute;
    top: 100px;
    right: 100px;
    width: 300px;
    height: 160px;
}
.footer .fallowus .title_list
{
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Manrope",sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    width: 100px;
    padding-bottom: 5px;
    border-bottom: 2px solid #5af7dc;
}
.social-links
{
    position:absolute;
    top: 45px;
}
 
.social-links a 
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.social-links a:hover 
{
    color: #24262b;
    background-color: #ffffff; 
}