body
{
    margin: 0;
    background-color: #030a60;

}
.content
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.loadingbox
{
    position: absolute;
    top: 45%;
    left: 48%;

}
.inner-loading
{
    position: absolute;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border-top: 15px solid #00ffd596;
    border-bottom: 15px solid #00ffd5;
    border-left: 15px solid #00ffd5;
    border-right: 15px solid #00ffd5;
    animation: spiner 1s linear infinite;
}
.box
{
    position:absolute;
    display: none;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    background:linear-gradient(180deg,#e7fffb -7.1%,#ffffff 102.19%);
}
.box .title
{
    position: absolute;
    width: 60%;
    height: 80px;
    top: 18%;
    left: 20%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
    font-family: "Manrope",sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.box .subtext
{
    position: absolute;
    width: 90%;
    height: 60px;
    top: 33%;
    left: 5%;
    box-sizing: border-box;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    padding-top: 15px;
    color: rgba(32, 32, 32, 0.7);
}
.box .value
{
    position: absolute;
    width: 80%;
    height: 60px;
    top: 48%;
    left: 10%;
}
.value input
{
    position: absolute;
    width: 80%;
    height: 60%;
    left: 10%;
    font-size: 20px;
}
.box .buttom
{
    position: absolute;
    width: 20%;
    height: 50px;
    top: 70%;
    left: 40%;
    overflow: hidden;
    border-radius: 8px;

}
.buttom button
{
    width: 100%;
    height: 100%;
    background-color: #5af7dc;
    color: #030a60;
    border: none;
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
}
.buttom button:hover
{
    cursor: pointer;
    filter: brightness(120%);
}
@keyframes spiner {
    from {}
    to {
        transform: rotate(360deg);
    }
}