@import url("https://fonts.googleapis.com/css2?family=Acme&family=Kanit&family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.navigation
{
    position: fixed;
    background-color: #000040;
    width: 100%;
    height: 13vh;
    top: 0;
    left: 0;
    font-family: "Manrope",sans-serif;
    z-index: 100;
}
.navigation ul
{    
    list-style-type: none;
}
.navigation ul li
{
    box-sizing: border-box;
    position: relative;
    top: 2.5vh;
    left: 8vw;
    text-align: center;
    float: left;
    margin: 5px;
    width: 6vw;
    height: 6vh;
    padding-top: 7px;
    border-radius: 20px;
    font-weight: bold;
}
.navigation ul #gaming
{
    background-color: #5af7dc;
}
.navigation ul #gaming a
{
    color: #000040 ;
}
.navigation ul li a
{

    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navigation ul li a:hover
{
    color: #5af7dc;
}

.navigation span 
{
    position: absolute;
    font-size: 25px;
    top: 25px;
    right: 5vw;
    color: #ffffff;
}
#sign_out
{
  display: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
.container {
  /* background-color: rgb(32, 85, 45); */
  background-color: #030a60;
  background-image: url("../Img/Background.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 170vh;
  margin-top: 13vh;
  z-index: 100;
  display: none;
}
.loadingbox
{
    position: absolute;
    padding-top: 300px;
    padding-left: 650px;
    background-color: #030a60;
    width: 100%;
    height: 100%;
}
.inner-loading
{
    position: absolute;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border-top: 15px solid #00ffd596;
    border-bottom: 15px solid #00ffd5;
    border-left: 15px solid #00ffd5;
    border-right: 15px solid #00ffd5;
    animation: spiner 1s linear infinite;
}

.menu {
  width: 26vw;
  height: 120vh;
  background-color: #ffffff;
  position: relative;
  top: 30vh;
  left: 10vw;
  float: left;
  border-radius: 6px;
  overflow: hidden;
}
.titlebox {
  width: 26vw;
  height: 15vh;
  /* background: #a4bc92; */
  background-color: #0658e6;
  float: left;
  position: absolute;
  top: 28vh;
  left: 10vw;
  border-radius: 4px;
}
#Title_02 {
  height: 8vh;
  top: 18vh;
  left: 10vw;
  background: none;
  padding-top: 0.8vw;
}
#Title_02 span {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  color: #ffffff;
  float: left;
}
#Title_02 button {
  width: 5vw;
  height: 5vh;
  float: right;
  border: none;
  /* background-color: #706486;
  color: #a5a5a5; */
  background-color: rgba(90, 247, 221);
  filter: brightness(60%);
  border-radius: 4px;
}
.titlebox .TextPlayer {
  position: absolute;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.5vw;
  color: #f3f1e2;
}
.titlebox .TillPlayer {
  position: absolute;
  top: 6.5vh;
  left: 4vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.5vw;
  color: #ffffff;
}
.titlebox .ShowPlayer {
  position: absolute;
  top: 5.5vh;
  left: 2.3vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 2vw;
  color: #ffffff;
}
.titlebox .MoneyText {
  position: absolute;
  left: 10vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.5vw;
  color: #f3f1e2;
}
.titlebox .ShowMoney {
  position: absolute;
  left: 10vw;
  top: 5.6vh;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 2vw;
  color: #ffffff;
}
.menu .headbox {
  position: absolute;
  width: 100%;
  height: 35%;
  /* background-color: #fcf9be; */
  background-color: rgba(226, 226, 226, 0.7);
}
.menu .downbox {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 65%;
  /* background-color: #a4bc92; */
  background-color: #0658e6;
  overflow-y: auto;
}
.ListOfPlayer .tracklist {
  position: relative;
  width: 100%;
  height: 12vh;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
  display: none;
}
.tracklist:hover {
  background-color: #1b1bb6da;
}

.tracklist .logoplayer {
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: #ffffff;
  /* background-image: url("../Img/Players/"); */
  /* background-image: url("../Img/Photage/Player.svg"); */
  background-size: contain;
  top: 2vh;
  left: 2vw;
}
.tracklist .nameplayer {
  position: absolute;
  width: 9vw;
  height: 3vh;
  top: 3vh;
  left: 7vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.4vw;
  color: #ffffff;
}
.tracklist .teamplayer {
  position: absolute;
  width: 9vw;
  height: 3vh;
  top: 6vh;
  left: 7vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.2vw;
  color: #ffffff;
}
.tracklist .priceplayer {
  position: absolute;
  width: 4vw;
  height: 3vh;
  top: 3vh;
  left: 16vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.4vw;
  color: #ffffff;
}
.tracklist .postplayer {
  position: absolute;
  width: 3vw;
  height: 3vh;
  top: 6vh;
  left: 16vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.2vw;
  color: #ffffff;
}
.tracklist .totalpoint {
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  top: 3.2vh;
  left: 21.5vw;
  padding-top: 0.4vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.6vw;
  color: #ffffff;
}
.text_tracklist {
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.4vw;
  color: #ffffff;
}

.headbox .searchbox {
  position: absolute;
  top: 3vh;
  left: 2.8vw;
}
.searchbox .icon {
  position: relative;
  float: left;
  width: 4vh;
  height: 4vh;
  padding: 0.5px;
  padding-left: 8px;
  background-color: #ffffff;
}
.searchbox input {
  height: 4vh;
  width: 14vw;
  border: none;
}
.searchbox .removesearch {
  position: absolute;
  left: 13vw;
  top: 1vh;
  width: 2vh;
  height: 2vh;
  background-color: #ffffff;
  border-radius: 50%;
  outline: 2px solid red;
  display: none;
}
.removesearch i {
  position: absolute;
  left: 2.5px;
  top: 1.5px;
  font-size: 12px;
}
.searchbox input:focus {
  outline: none;
}
.searchbox button {
  height: 4vh;
  width: 4vw;
  background: none;
  color: #030a60;
  font-family: "Acme", "Montserrat", sans-serif;
  cursor: pointer;

  border: 1px solid #030a60;
}
.PostPlayer {
  position: absolute;
  width: 4vw;
  height: 4vw;
  border-radius: 2vw;
  /* background-color: #c3c2fd; */
  /* background-color: rgb(70, 69, 140); */
  background-color: #ffffff;
  /* #46458C */
  text-align: center;
  cursor: pointer;
  outline: none;
  top: 10vh;
}
.PostPlayer span {
  position: relative;
  top: 2.2vh;
  left: 0.1vw;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.2vw;
  color: #000000;
  letter-spacing: 1px;
}
#Post-FWD {
  left: 21vw;
}
#Post-MID {
  left: 16vw;
}
#Post-DEF {
  left: 11vw;
}
#Post-GK {
  left: 6vw;
}
#Post-ALL {
  left: 1vw;
  /* background-color: #46458c; */
  background-color: #030a60;
}
#Post-ALL span {
  color: #ffffff;
}
#Price {
  position: absolute;
  width: 15vw;
  height: 4vh;
  top: 28vh;
  left: 1vw;
  border: none;
}
#Team {
  position: absolute;
  width: 10vw;
  height: 4vh;
  top: 34vh;
  left: 1vw;
  border: none;
}
#Sort {
  position: absolute;
  width: 20vw;
  height: 4vh;
  top: 22vh;
  left: 1vw;
  border: none;
}
.removeselect {
  position: absolute;
  height: 2vh;
  width: 2vh;
  top: 23vh;
  left: 18vw;
  outline: 2px solid red;
  display: none;
  border-radius: 50%;
}
.removeselect i {
  position: absolute;
  font-size: 12px;
  margin: 1px;
  margin-left: 2.5px;
}
#Price option::after {
  background-color: #a4bc92;
}
.downbox .ListOfPlayer {
  position: absolute;
  height: 10vh;
  width: 100%;
}
#Title_01 {
  padding: 1vw;
  padding-left: 2vw;
}
.boardfootball {
  width: 36.1vw;
  height: 100vh;
  position: relative;
  border-radius: 4px;
  top: 15vh;
  left: 38vw;
  background-image: url("../Img/Photage/MainBoard.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.boardfootball .player {
  width: 5vw;
  height: 10vh;
  position: absolute;

  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.boardfootball .subtitle {
  width: 5vw;
  height: 4vh;
  background-color: #000000;
  position: absolute;
  border-radius: 4px;
  font-size: 1vw;
  letter-spacing: 0;
  text-align: center;
  padding-top: 3px;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.1vw;
  color: #ffffff;
  display: block;
  top: 9vh;
  opacity: 80%;
}
.boardfootball .remove {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 4vw;
  display: none;
}
.remove i {
  position: absolute;
  left: 3.5px;
  top: 2px;
  font-size: 15px;
}

.bi {
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

#swapicon_12 {
  left: 25vw;
}
.swap {
  position: absolute;
  top: 5vh;
  width: 20px;
  height: 30px;
  color: #ffffff;
  cursor: pointer;
  display: none;
}
.swap:hover {
  color: red;
}
#swapicon_13 {
  left: 18.5vw;
}
#swapicon_14 {
  left: 12vw;
}
#swapicon_15 {
  left: 5.5vw;
}

#Player_01 {
  top: 83vh;
  left: 16vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_02 {
  top: 64vh;
  left: 27.8vw;
  /* https://gaming.uefa.com/en/uclfantasy/static-assets/ucl2020/images/Jersey-selected.svg?v=0.82 */
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_03 {
  top: 64vh;
  left: 20.2vw;
  /* https://gaming.uefa.com/en/uclfantasy/static-assets/ucl2020/images/player-jersey/50138.png?v=3.1 */
  background-image: url("../Img/Photage/Jersey-default.svg");
  /* background-image: url("../Img/Players/Alisson.png"); */
}
#Player_04 {
  top: 64vh;
  left: 12.1vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_05 {
  top: 64vh;
  left: 4vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_06 {
  top: 44.2vh;
  left: 27.9vw;

  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_07 {
  top: 44.2vh;
  left: 20.2vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_08 {
  top: 44.2vh;
  left: 12.1vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_09 {
  top: 44.2vh;
  left: 4vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_10 {
  top: 27vh;
  left: 20.2vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_11 {
  top: 27vh;
  left: 12.1vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_12 {
  top: 6.5vh;
  left: 25.5vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_13 {
  top: 6.5vh;
  left: 19vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_14 {
  top: 6.5vh;
  left: 12.4vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
#Player_15 {
  top: 6.5vh;
  left: 6vw;
  background-image: url("../Img/Photage/Jersey-default.svg");
}
.pagation {
  position: absolute;
  top: 167vh;
  left: 18vw;
  width: 10vw;
  height: 5vh;
}
.pagation span {
  position: relative;
  top: 1px;
  font-family: "Acme", "Montserrat", sans-serif;
  font-size: 1.5vw;
  color: #ffffff;
}
.pagation .backicon {
  position: relative;
  left: 5px;
  width: 5vh;
  height: 5vh;
  /* background-color: #706486; */
  float: left;
  margin-right: 14px;
}
.backicon button {
  width: 100%;
  height: 100%;
  background: none;
  /* background-color: #ffffff; */
  border: none;
  cursor: pointer;
}
.backicon button i {
  font-weight: 900;
  color: #ffffff;
  font-size: 1.5vw;
}
.nexticon button {
  width: 100%;
  height: 100%;
  background: none;
  /* background-color: #ffffff; */
  border: none;
  cursor: pointer;
}
.nexticon button i {
  color: #ffffff;
  font-size: 1.5vw;
  font-weight: bold;
}

.pagation .nexticon {
  position: relative;
  right: 5px;
  width: 5vh;
  height: 5vh;
  /* background-color: #46458C; */
  float: right;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes spiner {
  from {}
  to {
      transform: rotate(360deg);
  }
}